@using WEB.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@page "/delete/{teamID}"
@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager UriHelper

<h2>Delete</h2>
<h3>Are you sure you want to delete team with id : @TeamID</h3>

<br /><div class="col-md-4">
    <table class="table">
        <tr>
            <td>ID</td>
            <td>@team.TeamID</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>@team.TeamName</td>
        </tr>
        <tr>
            <td>Admin</td>
            <td>@team.Admin</td>
        </tr>
        <tr>
            <td>Devs</td>
            <td>@team.Developer</td>
        </tr>
        <tr>
            <td>Testers</td>
            <td>@team.Tester</td>
        </tr>
    </table>
    <div class="form-group">
        <input type="submit" value="Delete" @onclick="@Delete" class="btn btn-default" />
        <input type="submit" value="Cancel" @onclick="@cancel" class="btn" />
    </div>
</div>
@functions
{
    [Parameter]
    public string TeamID { get; set; }

    TeamsModel team = new TeamsModel();
    protected override async Task OnInitializedAsync()
    {
        try
        {
            team = await Http.GetFromJsonAsync<TeamsModel>($"/api/Team/Details/{TeamID}");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
    protected async Task Delete()
    {
        try
        {
            await Http.DeleteAsync($"api/Team/Delete/{TeamID}");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }

        UriHelper.NavigateTo("/fetchteam");
    }

    private void cancel()
    {
        UriHelper.NavigateTo("/fetchteam");
    }
}